
//@theme "/nix/store/h7iclz9zzwz48xd3mp426lr0zzrg1d7h-rofi-2.0.0/share/rofi/themes/gruvbox-dark.rasi"

//@theme "/nix/store/h7iclz9zzwz48xd3mp426lr0zzrg1d7h-rofi-2.0.0/share/rofi/themes/arthur.rasi"

@theme "/nix/store/h7iclz9zzwz48xd3mp426lr0zzrg1d7h-rofi-2.0.0/share/rofi/themes/material.rasi"
